In [2]:
import pandas as pd

# Data Cleaning

In [3]:
df_nutrition = pd.read_csv("nutrition.csv")

In [4]:
df_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1346 entries, 0 to 1345
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1346 non-null   int64
 1   calories      1346 non-null   float64
 2   proteins      1346 non-null   float64
 3   fat           1346 non-null   float64
 4   carbohydrate  1346 non-null   float64
 5   name          1346 non-null   object
 6   image         1346 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 73.7+ KB

In [5]:
len(df_nutrition.drop_duplicates()) / len(df_nutrition)
#jika output dari code di cell ini tidak bernilai 1 maka terdapat duplikat

1.0

## Data Cleaning Review

1. Tidak ada missing value ketika dicek dengan fungsi isna
2. Tidak ada duplikated data pada dataset ini

In [6]:
df_nutrition.head()

,id,calories,proteins,fat,carbohydrate,name,image
0,1,280.0,9.2,28.4,0.0,Abon,https://img-cdn.medkomtek.com/PbrY9X3ignQ8sVuj...
1,2,513.0,23.7,37.0,21.3,Abon haruwan,https://img-global.cpcdn.com/recipes/cbf330fbd...
2,3,0.0,0.0,0.2,0.0,Agar-agar,https://res.cloudinary.com/dk0z4ums3/image/upl...
3,4,45.0,1.1,0.4,10.8,Akar tonjong segar,https://images.tokopedia.net/img/cache/200-squ...
4,5,37.0,4.4,0.5,3.8,Aletoge segar,https://nilaigizi.com/assets/images/produk/pro...

In [7]:
top_protein_foods = df_nutrition.sort_values(by='proteins', ascending=False).head(10)
low_fat_foods = df_nutrition[df_nutrition['fat'] < 10]

In [8]:
low_fat_foods

,id,calories,proteins,fat,carbohydrate,name,image
2,3,0.0,0.0,0.2,0.0,Agar-agar,https://res.cloudinary.com/dk0z4ums3/image/upl...
3,4,45.0,1.1,0.4,10.8,Akar tonjong segar,https://images.tokopedia.net/img/cache/200-squ...
4,5,37.0,4.4,0.5,3.8,Aletoge segar,https://nilaigizi.com/assets/images/produk/pro...
5,6,85.0,0.9,6.5,7.7,Alpukat segar,https://katakabar.com/assets/images/upload/new...
6,7,96.0,3.7,0.6,19.1,Ampas kacang hijau,https://images.tokopedia.net/img/cache/215-squ...
...,...,...,...,...,...,...,...
1341,1342,42.0,1.2,0.6,9.3,Wortel Segar,https://www.astronauts.id/blog/wp-content/uplo...
1342,1343,37.0,1.0,0.6,8.3,Wortel kukus,https://www.wikihow.com/images_en/thumb/b/bf/S...
1343,1344,28.0,0.7,0.5,6.3,Wortel rebus,https://asset-a.grid.id/crop/0x222:594x690/700...
1344,1345,254.0,3.0,1.1,58.1,Yangko,https://serikatnews.com/wp-content/uploads/202...
1345,1346,52.0,3.3,2.5,4.0,Yoghurt,https://d1vbn70lmn1nqe.cloudfront.net/prod/wp-...

In [9]:
df_nutrition_selected = df_nutrition[[
    'id',
    'name',
    'calories',
    'proteins',
    'fat',
    'carbohydrate'
]].astype({
    'id': 'int',
    'name': 'string',
    'calories': 'float',
    'proteins': 'float',
    'fat': 'float',
    'carbohydrate': 'float'
})

In [10]:
df_nutrition_selected

        id                name  calories  proteins   fat  carbohydrate
0        1                Abon     280.0       9.2  28.4           0.0
1        2        Abon haruwan     513.0      23.7  37.0          21.3
2        3           Agar-agar       0.0       0.0   0.2           0.0
3        4  Akar tonjong segar      45.0       1.1   0.4          10.8
4        5       Aletoge segar      37.0       4.4   0.5           3.8
...    ...                 ...       ...       ...   ...           ...
1341  1342        Wortel Segar      42.0       1.2   0.6           9.3
1342  1343        Wortel kukus      37.0       1.0   0.6           8.3
1343  1344        Wortel rebus      28.0       0.7   0.5           6.3
1344  1345              Yangko     254.0       3.0   1.1          58.1
1345  1346             Yoghurt      52.0       3.3   2.5           4.0

[1346 rows x 6 columns]

In [11]:
df_nutrition_selected = df_nutrition_selected.reset_index(drop=True)

In [12]:
df_nutrition_selected

        id                name  calories  proteins   fat  carbohydrate
0        1                Abon     280.0       9.2  28.4           0.0
1        2        Abon haruwan     513.0      23.7  37.0          21.3
2        3           Agar-agar       0.0       0.0   0.2           0.0
3        4  Akar tonjong segar      45.0       1.1   0.4          10.8
4        5       Aletoge segar      37.0       4.4   0.5           3.8
...    ...                 ...       ...       ...   ...           ...
1341  1342        Wortel Segar      42.0       1.2   0.6           9.3
1342  1343        Wortel kukus      37.0       1.0   0.6           8.3
1343  1344        Wortel rebus      28.0       0.7   0.5           6.3
1344  1345              Yangko     254.0       3.0   1.1          58.1
1345  1346             Yoghurt      52.0       3.3   2.5           4.0

[1346 rows x 6 columns]

In [13]:
df_nutrition_selected.to_csv('selected_nutrition.csv', index=False)